
収益化宣言プラグイン/*
!収益化宣言プラグイン/readme.txt
!収益化宣言プラグイン/data/
収益化宣言プラグイン/data/bgm/*
収益化宣言プラグイン/data/fgimage/*
収益化宣言プラグイン/data/*image/*
収益化宣言プラグイン/data/sound/*
収益化宣言プラグイン/data/system/*
収益化宣言プラグイン/data/video/*
収益化宣言プラグイン/data/others/plugin/monetization/newpage.html

!patch
